body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px 0px 200px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    text-align: center;
}

.container img {
    max-width: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    display: flex;
}

.title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}